.container{
    width: 100%;

}

.studylab-nav-inhalt{
    position: relative;
    display: inline-block;
    padding: 10px ;
    font-weight: 300;
    color: white;
    text-decoration: none;
}

.studylab-nav-inhalt:hover{
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.navbar-collapse{
    padding: 10px;
}

.newsfeed-title{
    text-transform: uppercase;
    font-size: 26px;
}

.posting-field{
    text-transform: uppercase;
    font-size: 26px;
}

.navbar{
    position: relative;
    display: inline-block;
    padding: 10px;
    font-weight: 300;
    color: white;
    text-decoration: none;
}

.navbar-brand{
    font-weight: bold;
}

.dropdown{
    color: white;
    text-decoration: none;
}

.dropdown-item{
    color: black;
    text-decoration: none;
}

.dropdown-item:hover{
    text-decoration: none;
    color: darkgrey;
}

.btn{
    color: white;
}

.btn:hover{
    color: white;
    font-weight: bold;
}

.rounded-circle{
    padding: 5px;
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.page-footer{
    color: white;
    position: absolute;
    bottom: 0px;
    width: 100%;
}
