html, body{
    height: 100%;
    background-color: lightgray;
}

.header{
    max-height: 10vh;
    width: 100%;
}

.navbar{
    height: 10%;
    width: 100%;
}

.navbar-brand{
    color: white;
    font-weight: bold;
}

.container-fluid{
    min-height: 100%;
    width: 100%;
}

.studylab-nav-inhalt{
    position: relative;
    display: inline-block;
    padding: 5px ;
    font-weight: 300;
    color: white;
    text-decoration: none;
}

.studylab-nav-inhalt:hover{
    text-decoration: none;
    font-weight: bold;
    color: white;
}


.newsfeed-title{
    text-transform: uppercase;
    font-size: 26px;
}

.posting-field{
    text-transform: uppercase;
    font-size: 26px;
}

.posting{
    width: 95%;
    padding: 20px;
    position: absolute;
    transfrom: translate(-50%, -50%);
    box-sizing: border-box;
    border-radius: 10px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.2);
}

.navbar{
    position: relative;
    display: inline-block;
    padding: 10px;
    font-weight: 300;
    color: white;
    text-decoration: none;
}

.navbar-nav {
    position: relative;
    float: right; !important;
    flex-direction: row;
    display: flex;
    padding-left: 5px;
}

.dropdown{
    position: relative;
    float: right; !important;
}


.dropdown-item{
    text-decoration: none;
    display: block;
    width: 100%;
    padding: .3rem 0.7rem;
    font-weight: 400;
    white-space: nowrap;
}

.dropdown-item:hover{
    text-decoration: none;
    color: darkgrey;
}

.btn{
    color: white;
    margin-right: 10px;
}

.btn:hover{
    color: white;
    font-weight: bold;
}

.profilbild-navbar{
    padding: 5px;
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.profilbild{
    padding: 10px;
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.page-footer{
    background-color: #212529;
    color: white;
    position: relative;
    width: 100%;
    height: 5vh;
    padding-bottom: 0px;
    clear: both;
}

.col-6-header {
    flex-direction: row;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
}

.col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.col-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

.row{
    margin: 20px;
}

.inhalt{
    width: 80%;
    margin:100px auto;
    border: 1px solid #cbcbcb;
    border-radius: 20px;
}
.beitrag{
    width: 100%;
    padding: 20px;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    transfrom: translate(-50%, -50%);
    box-sizing: border-box;
    border-radius: 10px;
    background: rgba(0,0,0,0.2);
}
