html, body{
    height: 100%;
    background-color: whitesmoke;
}

.header{
    max-height: 10vh;
    width: 100%;
}

.navbar{
    height: 10%;
    width: 100%;
}

.navbar-brand{
    color: white;
    font-weight: bold;
}

.container-fluid{
    min-height: 100%;
    width: 100%;
}

.studylab-nav-inhalt{
    position: relative;
    display: inline-block;
    padding: 5px ;
    font-weight: 300;
    color: white;
    text-decoration: none;
}

.studylab-nav-inhalt:hover{
    text-decoration: none;
    font-weight: bold;
    color: white;
}


.newsfeed-title{
    text-transform: uppercase;
    font-size: 26px;
}

.posting-field{
    text-transform: uppercase;
    font-size: 26px;
}

.posting{
    width: 95%;
    padding: 20px;
    position: absolute;
    transfrom: translate(-50%, -50%);
    box-sizing: border-box;
    border-radius: 10px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.2);
}

.navbar{
    position: relative;
    display: inline-block;
    padding: 10px;
    font-weight: 300;
    color: white;
    text-decoration: none;
}

.navbar-nav {
    position: relative;
    float: right; !important;
    flex-direction: row;
    display: flex;
    padding-left: 5px;
}

.dropdown{
    position: relative;
    float: right; !important;
}


.dropdown-item{
    text-decoration: none;
    display: block;
    width: 100%;
    padding: .3rem 0.7rem;
    font-weight: 400;
    white-space: nowrap;
}

.dropdown-item:hover{
    text-decoration: none;
    color: darkgrey;
}

.btn{
    color: white;
    background-color: #e41035;
    margin-right: 10px;
    border-color: #e41035;
}

.btn:hover{
    color: white;
    background-color: #e41035;
    font-weight: bold;
    border-color: #e41035;
}

.btn:focus, .btn.focus{
    box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.btn.disabled, .btn:disabled {
    color: #6c757d;
    background-color: transparent;
}

.btn:not(:disabled):not(.disabled):active, .btn:not(:disabled):not(.disabled).active,
.show > .btn.dropdown-toggle {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn:not(:disabled):not(.disabled):active:focus, .btn:not(:disabled):not(.disabled).active:focus,
.show > .btn.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.btn-follow{
    color: white;
    background-color: #e41035;
    border-color: #e41035;
    font-weight: 400;
    border: 0px;
}

.btn-primary-follow{
    background-color: #e41035;
    border-color: #e41035;
}

.btn-group, .btn-group-vertical {
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: middle;
    height: 40px;
}

group>.btn:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 40px;
}

.input{
    color: white;
}

.folgenbutton{
    flex-direction: row;
    float: right;
    margin-bottom: 5px;
}

.entfolgenbutton{
    flex-direction: row;
    float: right;
    margin-bottom: 5px;
}

.profilbild-navbar{
    padding: 5px;
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.profilbild{
    padding: 10px;
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.profilbild-folgen{
    padding: 10px;
    position: relative;
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

.page-footer{
    background-color: #212529;
    color: white;
    position: relative;
    width: 100%;
    height: 5vh;
    padding-bottom: 0px;
    clear: both;
}

.col-6-header {
    flex-direction: row;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
}

.col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.col-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

.row{
    margin: 20px;
}

.inhalt{
    width: 80%;
    margin:100px auto;
    border: 1px solid #cbcbcb;
    border-radius: 20px;
}
.beitrag{
    width: 100%;
    padding: 20px;
    position: relative;
    margin-top: 20px;
    background-color: #e41035;
    background: rgba(255, 21, 52, 0.07);

}

.benutzerdaten{
    padding: 20px;
    border-radius: 10px;
    background: rgba(0,0,0,0.2);
}

.benutzername-post{
    text-decoration: none;
    color: black;
    font-size: large;
    font-weight: 500;
}

.benutzername-post:hover{
    text-decoration: none;
    font-weight: 700;
    color: black;
}

.suchfeld{
    margin-top: 5px;
}

.suchen-tabelle{
    width: 100%;
    padding: 10px;
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background: rgba(0,0,0,0.2);
    background-color: white;
}

.suchen-ergebnisse{
    text-decoration: none;
    color: #212529;
    font-size: medium;
    font-weight: 700;
}

.suchen-ergebnisse:hover{
    text-decoration: none;
    font-weight: 500;
    color: #212529;
}

.suchergebnisse{
    font-weight: bold;

}

.kommentar{
    padding: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    position: relative;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border-radius: 10px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.2);
}
